#widget {
    display: block;
    /*float: left; */ /* change on 18/6/2018 */
    /*min-height: 330px; */
    overflow: auto;
    /*width:100%*/ /* change on 18/6/2018 */
    margin-top:85px;
}
.noMoreData {
    display:block !important;
    font-size:11px !important;
}
#searchNull {
    display: block !important;
}
#searchNull span {
    font-size:13px;
}
.mailLogo{
    width: 10%;
    float: left;
    position: relative;
    height: 109px;
    /* margin: 10px auto; */
}
.mailLogo:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    height: inherit;
    border-left: 2px dotted lightgrey;
}
.mailCard{
    /* width: 100%;
    float: left; */
    /*border-radius: 4px;*/
    display: block;
    /* margin-left: 15px;
    border-left: 2px dotted #808080; */
}
.icon-con-mail{
    text-align: center;
}
.red-color{
    color: #C01A2E;
}
.bshadow0{
    box-shadow: inset 0 -2px white;
}
.con-icon{
    font-size: 16pt;
}
.message:hover{
    box-shadow: 5px 0px #03AFEF;
}
/* .mailCard:hover{
    box-shadow: 7px 3px 3px #03AFEF;
} */
.status{
    color: #7BC043;
    font-size: 7pt;
    font-weight: 400;
    margin-top: 4px;
    /* width: 80%; */
    /* float: left; */ /* change on 18/6/2018 */
    display: inline-block; /* change on 18/6/2018 */
}
.statusBlue{
    color: #03AFEF;
    font-size: 7pt;
    font-weight: 400;
    margin-top: 4px;
    /* width: 80%; */
    /*float: left;*/ /* change on 18/6/2018 */
    display: inline-block; /* change on 18/6/2018 */
}
/* .status:before{
    content: '\2190';
    color: rgb(60, 196, 60);
} */
.mailCardFooter{
    background-color: white;
    display: block;
    /* width: 100%;
    float: left; */
    margin-left: 30px;
}
.timeReceived{
    /*float: right;*/ /* change on 18/6/2018 */
    /* width: 20%; */
    font-size: 7pt;
    text-align: right;
    position: relative;
    margin-right: 30px;
    display: inline-block;
}
.messageHolder{
    border: none;
    display: block;
    /*float: left; */ 
    /* width:100%;*/ /* change on 18/6/2018 */
    margin-left: 15px;
    margin-bottom: 2px;
    border-left: 2px dotted #808080;
}
.messageHolderDOM{
    /* width: 80%;
    float: left; */
    display: block;
    margin-top: 1%;
    position: relative;
}
.mailHolder{
    float: left;
    display: block;
    width:100%;
}
.message{
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* width: 100%; */
    margin-left: 30px;
    margin-right: 15px; /* change on 18/6/2018 */
}
.message:before {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid lightgrey;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    /*background-color: white;*/
    /* margin-left: -10px; */
}
.mailCard:hover{
    background: none;
}
.messageHolder:hover {
    background: none !important;
}
.bolder{
    font-weight: 600;
    color: #626262;
}
.messageBody>p{
    font-weight: 400;
    margin: 0px;
}
.topnav {
    display: none;
}

.mailLogo.expanded {
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px;
}

.messageHolderDOM .messageBody.expanded {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    padding-right: 11px;
    margin-right: -11px;
    display: block;
}

.messageHolderDOM .showMore, .showLess {
    padding:0px 0px 0px 4px !important;
    background-color: white;
}

.attachmentHeader .messageBody{
    max-height:none;
}
.filecontent {
    margin-bottom:5px;
    font-size: 10pt;
    cursor: pointer;
}
.filecontent a {
    cursor: pointer;
}
.mailIcon {
    display: block;
    float: left;
    border: 1px solid #C01A2E;
    background: #C01A2E;
    padding: 5px;
    border-radius: 15px;
    margin: 0px 14px 0 -14px;
    color: #FAFAFA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icon-rotate-45 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    /*display: inline-block;*/
  }
/* .mailIcon.expanded {
    margin-top:110px;
} */
.sender {
    color: #626262;
    font-weight: 500;
    line-height: 24px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sender:hover{
    cursor: pointer;
    color: #03AFEF;
}
.datestamp{
    margin-left: -15px;
}
.important{
    padding: 2px;
}